footer {
  border: 1px solid grey;
  border-radius: 20px;
  background-color: grey;
  color: black;
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
  grid-row: 6;
  margin-top: 5px;
  h3 {
    align-self: center;
    font-size: 1.5em;
  }
}