header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: grey;
  color: black;
  display: flex;
  justify-content: center;
  h1 {
    align-self: center;
    font-size: 3em;
  }
}


